<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etoilecarte"
    android:screenOrientation="portrait">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/abc_ic_menu_moreoverflow_mtrl_alpha"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Activities.TableFragment"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait"
            android:label="La petite étoile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait"
            android:label="La petite étoile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.ListFoodsFragment"
            android:label="List Foods"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.SettingFragment"
            android:label="List Foods"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.DetailsFragment"
            android:label="Details Foods"
            android:parentActivityName=".Activities.ListFoodsFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ListFoodsFragment" />
        </activity>
        <activity
            android:name=".Activities.PanierFragment"
            android:label="Details Foods"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

    </application>

</manifest>